@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/yıldızcicegi1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/papatya1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/kırmızıgul1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/sarılale1.jpgjpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

 
<div class="container" margin:100px auto>
    <div class="row row-cols-1 row-cols-md-2 g-4" >
     
        <div class="col">
            <div class="card">
                <img src="img/yıldızcicegi1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yıldız Çiçeği</h5>
                    <p class="card-text">
                        ıldız çiçeği, Asteraceae (Papatyagiller) familyasının Dahlia cinsi bitkileridir.Yıldız çiçeğinin anavatanı Amerika kıtasıdır. Boyları bir karıştan iki metreye kadar değişiklik gösterebilir. Çiçeklerinin şekilleri sade, nilüfer, anemon, ponpon, top, yarı kaktüs, kaktüs, dekoratif, şakayık, orkide olarak değişiklik gösterir. Neredeyse her renkte yıldız çiçeğiyle karşılaşabilirsiniz.
                        Yıldız çiçeği güneşi çok seven bir bitkidir. Güneşi çok sevdiği için bolca güneşi bünyesinde toplar ve sonbaharda çiçeklerini açar. Ne kadar bol güneş alırsa o kadar çok çiçek verir.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/papatya1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Papatya</h5>
                    <p class="card-text">Papatya çiçeği çok sevdiğimiz bir kır çiçeğidir. Gösterişten uzak sade ve narin bir güzelliğe sahip papatyalar çok fazla şiir ve şarkıya konu olmuştur. Dostluğu, masumiyeti ve ilişkiler arasındaki saflığı sembolize eden papatyaları çekinmeden herkese hediye edebilirsiniz.Bitkisel tedavi yöntemi olarak kullanılır. Genellikle çay olarak tüketilir. Papatya çiçeği genellikle balçıklı topraklarda, ormanlık alanların çayırlarında, kırlarda, mısır, tahıl, patates yetişen topraklarda yetişir.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/kırmızıgul1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kırmızı Gül</h5>
                    <p class="card-text">Kırmızı gül, aşk, sevgi ifade eder. Sevdiğiniz için sevdiğinizi söylemek için en anlamlı en uygun çiçek kırmızı güldür. Kırmızı gül diğer güllerden çok daha farklı ve derin anlam taşır. Kırmızı gül sanat eserlerinde, klasik resimler gibi şeylerde kullanarak güzel anlamlar taşır. Kırmızı gül günümüzde de modern hale gelmiştir. Kırmızı gül aşkın sembolüdür ve en çok bu yönüyle tanınır. Kırmızı gülün rengi derin duygular içerir.  </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/sarılale1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sarı Lale</h5>
                    <p class="card-text">Sap üzerinde tek çiçek bulunduran lale çiçeği soğanlı bir bitki olduğu için kendiliğinden Döllenip bir daha ki sene aynı yerden filiz verebilir. Laleler zambakgiller familyasına aittir. Her lale renginin bir anlamı vardır. Çiçeklerin biçimleri çan şeklindedir.Lalelerin birçok faydası vardır. Ayrıca kozmetik sektöründe kullanılmaktadır. Bazı insanlar laleleri birçok şekilde hazırlayıp şifa niyetine kullanıyorlar.  </p>
                </div>
            </div>
        </div>
    </div>

    </div>
@*<div class="text-center">*@
@*<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="img/yıldızcicegi1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <img src="img/kırmızıgul1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <img src="img/papatya1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <img src="img/sarılale1.jpg" class="d-block w-100" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    </div>
*@
@*</div>*@
