@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h1-specials">İletişim Bilgileri</h1>
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="container">

           
           
                <h3>Bize Ulaşın</h3>
                <p>İnternette güvenli alışverişin adresi Çiçek Bahçesi.com'a aşağıdaki iletişim adreslerinden kolayca ulaşabilirsiniz.</p>
                <p>"Müşteri Hizmetleri" servisimiz haftanın 7 günü, 24 saat gönderdiğiniz sorulara en hızlı şekilde yanıt verir.</p>
                <p>Çağrı Merkezimiz her gün 08.00 - 01.00 saatleri arasında çalışır.<br/> Çağrı Merkezi:<br/>
                <strong>0850 252 40 00</strong> </p> 

                Şirket Bilgileri
                Ünvanı
                XXX Elektronik Hizmetler ve Tic. A.Ş.(Hepsiburada.com)
                Ticari Sicil Numarası
                123456
                Genel Müdürlük
                A Mah. B Yolu Cad. Cs Kule 2 Kat:2 No:15 XXXX Şişli/İstanbul<br/>
               
                Mersis Numarası:<br/>
                zzzzzzzzzzzzzz
               
           
             </div>
        </div>
        <div class="col-md-6">
            <form class="row g-3 needs-validation" novalidate method="Post" asp-controller="Contact" asp-action="Save">
                <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">İsim</label>
                    <input type="text" class="form-control" value="" name="Isim" id="Isim" placeholder="İsminizi Giriniz" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom02" class="form-label">Soyisim</label>
                    <input placeholder="Soyadınızı Giriniz" type="text" class="form-control" id="Soyisim" name="Soyisim" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustomUsername" class="form-label">Eposta</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Eposta Adresinizi Giriniz" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="validationCustom04" class="form-label">Şehir</label>
                    <select class="form-select" id="validationCustom04" required>


                        <option>- Seçiniz -</option>
                        <option>Adana</option>
                        <option>Ankara</option>
                        <option>Bursa</option>
                        <option>İstanbul</option>
                        <option>İzmir</option>


                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom04" class="form-label">Mesaj</label>
                    <textarea class="form-control" rows="5" placeholder="Mesajınızı Giriniz"></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            SMS ve Eposta gönderimlerini onaylıyorum
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Gönder</button>
                </div>
            </form>
        </div>
    </div>



</div>

